.semitransparent {
  background-color: rgba($color: #000000, $alpha: 0.7);
}

// selector to change svg color of icon to white
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(354deg)
    brightness(103%) contrast(102%);
}

a {
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

footer {
  padding: 0 100px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.other-icon {
  width: 50px;
  height: 50px;
}

.copyright {
  color: white;
  font-size: 16px;
}

.soc-networks {
  margin: 18px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.soc-network {
  a {
    display: flex;
    align-items: center;
    // justify-content: end;
    gap: 20px;
  }
}

.network {
  font-size: 32px;
  color: white;
}

.title {
  color: white;

  h2 {
    font-size: 64px;
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 0 60px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .other-icon {
    width: 37px;
    height: 37px;
  }

  .copyright {
    font-size: 12px;
  }

  .network {
    font-size: 16px;
  }

  .title {
    h2 {
      font-size: 44px;
    }
  }
}

@media (max-width: 844px) {
  .title {
    h2 {
      font-size: 40px;
    }
  }
}

@media (max-width: 500px) {
  footer {
    padding: 0 40px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (max-width: 375px) {
  .title {
    h2 {
      font-size: 24px;
    }
  }

  footer {
    padding: 0 16px;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .other-icon {
    width: 30px;
    height: 30px;
  }

  .copyright {
    font-size: 10px;
  }
}
